* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
    overflow: hidden;
}

.gameContainer {
 background-image: url('images/805542910.jpg');
 background-repeat: no-repeat;
 background-size: 100vw 100vh;
 width: 100%;
 height: 100vh;
}

.dino {
    background-image: url('images/dino.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    width: 15vw;
    height: 13vh;
    position: absolute;
    bottom: 105px;
    left: 100px;
}

.obstacle {
    width: 150px;
    height: 123px;
    background-image: url('images/enemy.jfif');
    background-size: cover;
    position: absolute;
    bottom: 105px;
    left: 1000px;
}

.animationDino {
    animation: dino 3s linear;
    /* transition-timing-function: ease-in-out; */
}

.obstacleAni {
    animation: obstacleAni 7s linear infinite;
}

.gameOver {
    /* visibility: hidden; */
    position: relative;
    top: 53px;
    font-size: 53px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 800;
}

#scoreCont {
    position: absolute;
    right: 45px;
    top: 25px;
    border: 2px solid black;
    padding: 10px;
    font-family: sans-serif;
    width: 150px;
    color: #54212f;
    font-weight: bold;
    border-radius: 25px;
}
@keyframes dino{
    0%{
        bottom : 0px;
    }

    50%{
        bottom : 1000px;
    }

    100%{
        bottom : 0px;
    }
}

@keyframes obstacleAni {
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}